@import url("../../core/assets/css/font-awesome.min.css");

#footer-upgrade{
	display: none;
}

#nhp-opts-heading{
	margin-bottom:20px;
}


#nhp-opts-form-wrapper{
	background: #e9e9e9;
	border: 1px solid #ccc;
	margin-top:20px;
	font-family: 'Open Sans';
	font-weight: 400;
}

#nhp-opts-form-wrapper .hr{
	height:1px;
	width:60%;
	border-bottom:1px solid #DFDFDF;
	margin: 0 auto;
	margin-bottom:-20px;
}

.nhp-opts-info-field{
	margin-bottom:-20px;
}
span.description {
	color: #777;
}	
#nhp-opts-header,
#nhp-opts-footer{
	text-align:right;
	padding:20px;	
}
#nhp-opts-header img{
	max-height: 65px;
}
#nhp-opts-header{
	border-bottom:1px solid #CDCDCD;
}
#nhp-opts-footer{
	border-top:1px solid #CDCDCD;
}
#nhp-opts-footer #nhp-opts-share{
	float:left;
	width: 100%;
	text-align: center;
}
#nhp-opts-footer #nhp-opts-share a{
	text-decoration: none;
	margin: 0px !important;
}
#nhp-opts-footer #nhp-opts-share a{
	margin-right:10px;
}
#nhp-opts-footer #nhp-opts-share a img{
	margin-bottom:-3px;
	margin-right: 3px;
}


#nhp-opts-save{
	margin:0px;
	border-bottom:1px solid #DFDFDF;
    background-color: #DFF0D8;
    color: #468847;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#nhp-opts-imported{
	margin:0px;
	border-bottom:1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #3A87AD;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#nhp-opts-save-warn{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



#nhp-opts-field-warnings{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}




#nhp-opts-field-errors{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
    background-color: #F2DEDE;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}


#nhp-opts-sidebar,
#nhp-opts-main{
	min-height:300px;
}
#nhp-opts-sidebar{
	width:200px;
	float: left;
}

.nhp-opts-menu-warning{
	background-color: #C09853;
    color: #FCF8E3;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}

.nhp-opts-menu-error{
	background-color: #B94A48;
    color: #F2DEDE;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}
	

#nhp-opts-main{
	background: #fafafa;
	margin-left: 201px;
	border-left: 1px solid #DFDFDF;
}

#nhp-opts-sidebar #nhp-opts-group-menu{
	margin-top:0px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li{
	margin:0px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li.divide{
	padding:0px;
    border-top: 1px solid #dadada;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a{
	display: block;
	padding: 14px 14px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a.custom-tab{
	background: #f6f6f6;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a img{
	width: 16px;
	height: 16px;
	/*vertical-align:middle;*/
	margin-bottom:-3px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a:hover{
	background:#fafafa;
	width:174px;
	margin-right:-2px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li.active a{
	background: #fff;
	width:174px;
	margin-right:-2px;
}






.nhp-opts-group-tab{
	display:none;
	background: white;
	padding: 3%;
}
.nhp-opts-group-tab h3{
	margin-top: 0px;
	font-size: 1.8em;
	line-height: 2em;
	border-bottom: 1px dotted #E5E5E5;
}
.nhp-opts-group-tab .nhp-opts-section-desc{
	font-style: italic;
	font-size:1.2em;
	color:#666666;
}
.nhp-opts-group-tab .form-table{
	border-top: 1px dotted #E5E5E5;
	clear:none;
	margin-top:20px;
}
.nhp-opts-group-tab .form-table.no-border{
	border-top:none;
}
.nhp-opts-group-tab .form-table tr{
	border-bottom: 1px dotted #E5E5E5;
}
.nhp-opts-group-tab .form-table tr:last-child{
	border-bottom: none;
}
.nhp-opts-group-tab .form-table tr th,
.nhp-opts-group-tab .form-table tr td{
	padding:20px 20px 40px 20px;
	color:#333333;
}
.nhp-opts-group-tab .form-table tr th{
	font-weight: bold;
	font-size: 13px;
	width: 20%;
}
.nhp-opts-group-tab .form-table tr th span:first-child{
	font-weight: normal;
	display:block;
	color:#666666;
}


.nhp-opts-group-tab .form-table tr td .nhp-opts-th-warning{
	font-size:1em;
    color: #C09853;
	font-weight:normal;
	display:block;
}
.nhp-opts-group-tab .form-table tr td .nhp-opts-field-warning{
	border-color:#C09853;
}


.nhp-opts-group-tab .form-table tr td .nhp-opts-th-error{
	font-size:1em;
	color:#B94A48;
	font-weight:normal;
	display:block;
}
.nhp-opts-group-tab .form-table tr td .nhp-opts-field-error{
	border-color:#B94A48;
}


/* reset nested tables for mce */
.nhp-opts-group-tab .form-table tr td table.mceLayout,
.nhp-opts-group-tab .form-table tr td table.mceLayout tr,
.nhp-opts-group-tab .form-table tr td table.mceLayout tr td{
	padding:0px;
	border-width:0px;
}


.nhp-opts-group-tab .nhp-opts-theme-data{
	padding:20px 0px;
	border-top: 1px solid #DFDFDF;
}
.nhp-opts-group-tab .nhp-opts-theme-data.theme-uri,
.nhp-opts-group-tab .nhp-opts-theme-data.theme-author,
.nhp-opts-group-tab .nhp-opts-theme-data.theme-version{
	padding:0px;
	border-width:0px;
}
.nhp-opts-group-tab .nhp-opts-theme-data.theme-description{
	padding:10px 0px;
	border-width:0px;
}





/*
 *
 * king_options_radio_img
 *
 */
.nhp-radio-img input[type='radio']{
	display:none;
}
.nhp-radio-img,
.nhp-radio-img-selected{
	margin:5px;
	display:inline-block;
	padding:10px;
}
.nhp-radio-img-selected{
	background-color: rgba(158, 202, 69, 0.8);
	color: #fff;
	border: 1px solid rgba(158, 202, 69, 1);
}
.nhp-radio-img img,
.nhp-radio-img-selected img{
	border-width:4px;
	border-style: solid;
	max-width: 100px;
}
.nhp-radio-img img{
	border-color:#e9e9e9;
}
.nhp-radio-img img:hover{
	border-color:#ddd;
}
.nhp-radio-img-selected img{
	border-color:#c9c9c9;
}
.radio-img{
	max-height: 500px;
	overflow: auto;
	background: #fafafa;
	border: 1px solid #eee;
	padding: 10px;
}


/*
 *
 * king_options_color
 *
 */
.farb-popup-wrapper{
	position: relative;
	display: block;
}

.farb-popup{
	background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    box-shadow: 2px 2px 5px 0 #CCCCCC;
    left: 40px;
    padding: 5px;
    position: absolute;
    top: 40px;
    z-index: 100;
}



#nhp-opts-import-link-wrapper,
#nhp-opts-import-code-wrapper{
	display:none;
}

#nhp-opts-export-code,
#nhp-opts-export-link-value{
	display:none;
}
#nhp-opts-import-action span{
	color:#B94A48;
}
#import_divide{
	margin: 40px 0px;
	border-bottom: 1px solid #DFDFDF;
}





.nhp-opts-screenshot{
	max-width: 300px;
	display:block;
}





@media screen and (max-width : 900px) {
	#nhp-opts-sidebar{
		width:42px;
	}
	#nhp-opts-main{
		margin-left:43px;
	}
	.nhp-opts-group-tab-link-a{
		position: relative;
	}
	.nhp-opts-group-tab-link-a span{
		display:none;
		position:absolute;
		top: 0;
		left:44px;
		padding: 14px;
		width: 200px;
		background: #eeeeee;
		border: 1px solid #DFDFDF;
		border-width: 1px 1px 1px 0px;
	}
	.nhp-opts-group-tab-link-a:hover > span{
		display: block;
	}
	#nhp-opts-sidebar #nhp-opts-group-menu li a,
	#nhp-opts-sidebar #nhp-opts-group-menu li a:hover,
	#nhp-opts-sidebar #nhp-opts-group-menu li.active a,
	#nhp-opts-sidebar #nhp-opts-group-menu li.active a:hover{
		width:15px;
	}
	
	table.form-table, .form-table > thead, .form-table > tbody, .form-table > tbody > tr > th, .form-table > tbody > tr > td, .form-table > tbody > tr {
		display: block !important;
		width: 100% !important;
		padding: 0px !important;
	}
	.form-table > tbody > tr > th, .form-table > tbody > tr > td{
		padding: 10px !important;
	}
	.form-table > tbody > tr > td span.description{
		display: block;
	}
}
input[type="text"],textarea,select{
	border-radius: 0px;
	border: none;
	padding: 3px 5px;
	box-shadow: none;
	border: 1px solid #D5D5D5;
	background: rgb(252, 252, 252);
}
input[type="text"]{
	height: 32px;
}
.typography-wrapper input[type="text"]{
	float: left;
	margin-right: 10px;
}
.form-table select{
	border-radius: 0px;
	border: 0px solid transparent;
	background: rgb(252, 252, 252);
	outline: 1px solid #D5D5D5;
	margin-right: 10px;
	height: 32px;
	line-height: 32px;
}
.form-table select:focus{
	box-shadow: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: rgba(0,0,0,0.01) !important;
	border: 1px solid #d5d5d5 !important;
	border-radius: 0px !important;
	padding: 3px 10px !important;
}
.section_layout tbody th{
	display: none;
}
.ui-corner-right{
	border-left: none !important;
}
.ui-buttonset .ui-button.ui-state-active{
	background: #89C03E !important;
	border: 1px solid #7BB32E !important;
}
.section_layout tbody #layouts-list li{
	display: inline-block;
	height: 80px;
	width: 150px;
	margin: 15px;
	background: #f9f9f9 url('../img/attach.png') no-repeat left bottom;
	text-align: left;
	border: 1px solid #e7e7e7;
	box-shadow: 2px 2px 5px 0 #f7f7f7;
	padding: 10px;
	position: relative;
	cursor: pointer;
	
	-moz-transition: all 250ms linear 0s;
	-webkit-transition: all 250ms linear 0s;
	-ms-transition: all 250ms linear 0s;
	-o-transition: all 250ms linear 0s;
	transition: all 250ms linear 0s;
}
.section_layout tbody #layouts-list li a{
	text-decoration: none;
}
.section_layout tbody #layouts-list li:before,.section_layout tbody #layouts-list li:after{
	position: absolute;
	width: 40%;
	height: 10px;
	left: 5px;
	bottom: 6px;
	background: transparent;
	content: ".";
	color: #fff;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	z-index: -1;
}
.section_layout tbody td{
	position: relative;
	z-index: 1;
}
.section_layout tbody #layouts-list li:after{
	left: auto;
	right: 5px;
}
.section_layout tbody #layouts-list li:before{
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
}
.section_layout tbody #layouts-list li:after{
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
.section_layout tbody #layouts-list li strong:after{
	content: "Delete";
	color: maroon;
	position: absolute;
	bottom: 5px;
	right: 5px;
	display:none;
}
.section_layout tbody #layouts-list li:hover{
	background-color: #f0f0f0;
	border: 1px solid #e2e2e2;
}
.section_layout tbody #layouts-list li:hover strong:after{
	display: block;
}
.section_layout tbody #layouts-list li:first-child{
	display: none;
}
.sys-colorPicker{
	margin-left:3px;
	background: #f8f8f8 !important;
	box-shadow:1px 1px 3px 0 #dedede;
}
.sys-colorPicker .extendRGBA{
	bottom: 8px; 
	left: 10px; 
	position: absolute;
}
.sys-colorPicker .extendRGBA select{
	height: 22px;
    line-height: 22px;
    margin-top: 10px;
    padding: 2px;
    width: 99%;
}
.sys-colorPicker .extendRGBA select option{
	padding:15px 10px;
}
.sys-colorPicker .extendRGBA button{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 3px 0 #CCCCCC;
	cursor: pointer;
	padding: 2px 5px;
}
.sys-colorPicker .extendRGBA button:hover{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.09);
}	
.sys-colorPicker .extendRGBA input{
	font-size:12px;
	padding:1px;
	height: 20px;
	width: 25px;
	background:none;
	border:none;
}
body .king-upload-wrp .button.button-large{
    box-shadow: none;
    padding: 3px 12px;
    height: 35px;
    border-radius: 0px;	
}	
body .king-upload-wrp .button.button-large.button-primary{
    background: #89C03E;
    border: 1px solid #7BB32E;
    box-shadow: 3px 3px 0px 0px #eaeaea;
    padding: 3px 12px;
    height: 35px;
    border-radius: 0px;
    font-weight: bold;
}
.btn{
	padding: 8px 20px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	border: 1px solid #7BB32E;
	clear: both;
	cursor: pointer;
	font-weight: bold;
	background: #89C03E;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn:hover,body .king-upload-wrp .button.button-large.button-primary:hover{
	background: #6FA623;
	border-color: #6FA623;
}	
.btn_green{
	background: #37C6F5;
	border-color: #19AADA;
}	
.btn_green:hover {
	color: #FFF !important;
	text-shadow: 0px 1px 0px #000 !important;
	background: #1AAEDF;
}
.btn_red{
	background: #D0566B;
	border-color: #C53B53;
}	
.btn_red:hover{
	background: #B23349;
}
.wp-core-ui .button-secondary{
	border-radius: 0px;
	box-shadow: none;
	padding: 5px 20px;
	height: auto;
}
.nhp-radio-img-footer,.nhp-radio-img-header{
	padding: 10px 10px 20px;
	font-size: 13px;
	opacity: 0.5;
	transition: all 0.5s ease;
	border: 1px dashed transparent;
	margin: 10px 0 !important;
	cursor: default;
}
.nhp-radio-img-footer:hover,.nhp-radio-img-header:hover{
	background-color: #eee;
	opacity: 1;
	border: 1px dashed #aaa;
}
.nhp-radio-img-footer img,.nhp-radio-img-header img{
	max-width: 640px;
	border-width: 1px;
}
.single-page-settings .nhp-radio-img-footer img,.single-page-settings .nhp-radio-img-header img{
	max-width: 600px;
	cursor: pointer;
}
.nhp-radio-img-footer.nhp-radio-img-selected,.nhp-radio-img-header.nhp-radio-img-selected{
	background-color: rgba(158, 202, 69, 0.8);
	border: 1px dashed rgba(158, 202, 69, 1);
	opacity: 1;
}	
.nhp-radio-img-footer.nhp-radio-img-selected img,.nhp-radio-img-header.nhp-radio-img-selected img{
	border-color: #fff;
	opacity: 1;
}
.single-page-settings #nhp-opts-screenshot-logo{
	background-color: #eee;
}