ul.nav>li>a.active {
	color:#9eca45;
}

ul.nav>li>a:hover.active {
	color:#9eca45;
}

ul.nav>li>a:hover {
	color:#9eca45;
	transition: all 0.3s ease;
}

ul.nav .dropdown li a.active {
	color: #393939;
	background: #f3f3f3;
}
ul.nav .dropdown li:hover a.active {
	color: #393939;
}

.list-unstyled a.active {
    color: #393939;
	border-radius: 3px;	
	padding: 5px 10px;
}
.list-unstyled a.active i {
    color: #393939;
}

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;

}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.yamm .yamm-content {
    padding: 50px 40px 40px 40px;
}
.yamm .features-mgm .yamm-content {
    padding: 50px 40px 40px 55px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}
.yamm .dropdown.yamm-hw .dropdown-menu {
    left: auto;
    right: 0;
    width: 550px;
}
.yamm .yamm-content .col-md-4, .yamm .yamm-content .col-md-8{
padding-right: 5px;
padding-left: 5px;}


.yamm .yamm-content .thumbnail { padding: 0; border: 0;}
.yamm .yamm-content .caption {
    padding: 0;
}
.yamm .yamm-content .caption h3 {
    font-size: 18px;
    color: #272727;
    margin-top: 14px;
    margin-bottom: 8px;
}
.yamm .yamm-content .caption p {
    font-size: 14px;
    color: #727272;
}

.list-unstyled li:first-child {
    
}

.list-unstyled.two {
	margin-top: -12px;
}


.list-unstyled li p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #2a363f;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 0px;
	margin-bottom: 18px;
	letter-spacing: 0.5px;
}

.list-unstyled li i { color:#999; margin-right: 4px; font-size: 11px; transition: all 0.3s ease;}

.list-unstyled li { padding: 5px 0;}
.list-unstyled a {
    color: #727272;
    padding: 5px 0px 5px 0px;
    width: 100%;
	font-size: 14px;
	transition-property: margin-left, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	transition: all 0.3s ease;
}

.list-unstyled a:hover {
    color: #393939;
	background: #f3f3f3;
	padding: 5px 10px;
	border-radius: 3px;
	text-decoration:none;
}
.list-unstyled a:hover i {
    color: #393939;
}

.menu-sepbox {
	float: right;
	width: 136%;
	padding: 27px 40px 31px 40px;
	background: #f7f7f7;
	margin-top: -5px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.menu-sepbox img {
	float: left;
	width: 100%;
}
.menu-sepbox h6 {
	margin-bottom: 0px;
}
.menu-sepbox a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	background: #2a363f;
	padding: 10px 20px;
	border-radius: 3px;
	font-weight: 600;
	transition: all 0.3s ease;
}
.menu-sepbox a:hover {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	background: #86c724;
	padding: 10px 20px;
	border-radius: 3px;
	font-weight: 600;
}


.mega-menu-contnew {
	float: left;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}
.mega-menu-contnew .section-box {
	float: left;
	width: 33.3333333333%;
	color: #999;
	font-weight: 300;
	transition: all 0.3s ease;
}
.mega-menu-contnew .section-box.last {
	background: #f3f3f3;
}
.mega-menu-contnew .section-box strong {
	color: #454545;
	font-size: 18px;
	font-weight: 400;
	display: block;
	transition: all 0.3s ease;
}
.mega-menu-contnew .section-box span {
	float: left;
	color: #6e7a83;
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 14px;
	margin-right: 12px;
	border-right: 1px solid #eee;
	transition: all 0.3s ease;
}
.mega-menu-contnew .section-box i {
	float: left;
	color: #6e7a83;
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 14px;
	margin-right: 12px;
	border-right: 1px solid #eee;
	transition: all 0.3s ease;
}
.mega-menu-contnew .section-box a {
	color: #999;
}
.mega-menu-contnew .section-box a:hover,
.mega-menu-contnew .section-box a:hover strong,
.mega-menu-contnew .section-box a:hover span,
.mega-menu-contnew .section-box a:hover i {
	color: #86c724;
}

.mega-menu-contnew .section-box.last {
	text-align: center;
	background: #f7f7f7;
	border-left: 1px solid #e3e3e3;
	padding: 25px 0px 38px 0px;
	font-size: 14px;
	color: #2a363f;
}
.mega-menu-contnew .section-box.last strong {
	color: #2a363f;
	font-size: 40px;
	font-weight: 800;
	margin: 12px 0px 5px 0px;
}
.mega-menu-contnew .section-box.last strong em {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
}
.mega-menu-contnew .section-box.last b {
	text-decoration: line-through;
	font-style: normal;
	font-weight: normal;
	color: #999;
}
.mega-menu-contnew .section-box.last a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	background: #2a363f;
	padding: 10px 20px;
	border-radius: 3px;
	font-weight: 600;
	transition: all 0.3s ease;
}
.mega-menu-contnew .section-box.last a:hover {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	background: #86c724;
	padding: 10px 20px;
	border-radius: 3px;
	font-weight: 600;
}

.list-unstyled a:before {
    font-size: 12px;
    margin-right: 5px;
}

.row-border + .row .caption h3 {
    margin-top: 0px;
}

.row-border {border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0;
}

.navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.navbar-nav>li>a i {
	display: block;
	text-align: center;
}

.navbar-default { margin-right: -32px;}

.navbar-default.two {
	width:100%;

}

.navbar-nav.dark>li>a {
    padding-top: 30px;
    padding-bottom: 27px;
    text-transform: uppercase;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
 
}
.dropdown-submenu>.dropdown-menu:last-child {

}
@media (min-width:769px;){
	.dropdown-submenu>.dropdown-menu:last-child {
	 border-top: 0px solid #000;
	    
	}
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
      
}

.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.navbar-brand {
    padding: 0;
    margin:15px 0;
}


.wrapper {
	margin-top: 0px;
}
.navbar-fixed-top + 
.wrapper {
	margin-top: 104px;
}

body .dropdown-menu {
    min-width: 200px;
	padding:0;
}
body .dropdown-menu>li>a {
    padding: 10px 20px;
	font-size:14px;
	color:#727272;
	font-weight: 400;
    border-bottom: 1px solid #eee;
	transition: all 0.3s ease;
}
.dropdown-menu>li>a:hover {
    border-bottom: 1px solid #eee;
}
.dropdown-menu>li:last-child>a {
    border-bottom: 0px solid #d1d1d1;
}
/*-------------- header animation Start -------------------*/


.help {
    height: 40px;
}
.help > .container {
    padding-top: 10px;
}


.navbar-nav>li>a{
	box-shadow: 0 0px 0 rgba(255,255,255,0.25);
}

.callus { color: #545454; font-size: 13px; padding-top: 13px;}
.callus a { margin-right: 20px; color: #545454;}

.social-icons ul li {
    float: left;
    list-style-type: none;
    margin:10px 0 10px 7px;  
}
.social-icons a {
	width: 25px; 
	height: 25px; 
	display: block; 
	background-color:#fff;
	border:1px solid #c7c7c7;
	border-radius:50%;
	text-align:center;
}
.social-icons a i {
	font-size:15px;
	color:#272727;
	line-height:24px;
	text-align:center;
}
.social-icons a:hover{
	background-color:#272727;
	border:1px solid #272727;
}

.social-icons a:hover i{
	color:#fff;
}



.header{-webkit-border-radius:0;border-spacing:0;-webkit-appearance:none;-moz-appearance:none;appearance:normal;-webkit-tap-highlight-color:transparent;outline:0!important;-webkit-touch-callout:none;transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-duration:.2s;-moz-transition-duration:.2s;-webkit-transition-duration:.2s;-o-transition-duration:.2s}:focus{outline:0}

::-webkit-scrollbar{width:12px}::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);-moz-box-shadow:inset 0 0 6px rgba(0,0,0,.3);box-shadow:inset 0 0 6px rgba(0,0,0,.3);}::-webkit-scrollbar-thumb{background:rgba(210,210,210,.8);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.5);-moz-box-shadow:inset 0 0 6px rgba(0,0,0,.5);box-shadow:inset 0 0 6px rgba(0,0,0,.5);}::-webkit-scrollbar-thumb:window-inactive{background:rgba(210,210,210,.4)}

.header{display:block;position:fixed;z-index:9000!important;top:50px;left:0;width:100%;background-color: transparent; height:110px; padding-top: 25px; background: #fff; -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);}

.header.innerpages{top:0px; padding-top: 20px; background: #fff;}

.compact .header{display:block;position:fixed;z-index:9000!important;top:0;left:0;width:100%;background: rgba(255,255,255,.99);border-bottom:none;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2); height: auto; padding-top: 0px; padding-bottom: 0px;}

.compact .header #logo{ background-size: 50%; background-position: left 9px;}


.menu_main .col-md-4 {
	width: 28%;
	border-right: 1px solid #eee;
	margin-right: 7%;
}
.menu_main .col-md-4.last {
	border-right: 0px solid #eee;
	margin-right: 0%;
}



.navbar-default .navbar-nav>li>a {
	color: #2a363f;
	font-size:14px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.menu_main3 .navbar-default .navbar-nav>li>a {
	color: #fff;
}

body .navbar-toggle {
    position: relative;
    float: none;
    padding: 6px 6px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 0px;
    background: #272727;
	cursor: pointer;
	float: right;
	border-radius: 5px;
	
}
.navbar-toggle > span {Color:#fff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 	background-color: #272727;
}
.navbar-collapse {border-top: 0;}





.navbar-toggle > button {
	background: none;
	border: 0;
	float: right;
}
.navbar-default .navbar-toggle i {
	color: #fff;
	font-size: 21px;
}
.yamm ul.nav li.dropdown:hover  b{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.container>.navbar-collapse {
	margin-right: 0px;
}
.navbar-brand, .navbar-nav>li>a {
	text-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
}
button.navbar-toggle { 
	clear: right;
}
.width50 {
	width: 50%;
}


.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret, .navbar-default .navbar-nav>.open>a:focus .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

/* -------------- color Scheme End --------------*/

.dropdown-menu.two {
	right: 0;
}



@media only screen and (min-width: 1000px) and (max-width: 1169px){
	
	.compact .header #logo{ background-size: 45%; background-position: left 12px;}

	.mega-menu-contnew .section-box strong {
		font-size: 16px;
	}
	.mega-menu-contnew .section-box span,
	.mega-menu-contnew .section-box i {
		font-size: 25px;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-right: 10px;
		margin-right: 10px;
	}
	
	.menu-sepbox {
		width: 139%;
		padding: 27px 20px 31px 20px;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 999px){
	
	.compact .header #logo{ background-position: left 12px;}
	
	.compact .header{padding-top: 0px; padding-bottom: 3px;}
	
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	
	.yamm .yamm-content {
	    padding: 10px 20px 20px 20px;
	}
	
	
	
	.mega-menu-contnew .section-box strong {
		color: #fff;
		font-size: 16px;
	}
	.mega-menu-contnew .section-box span,
	.mega-menu-contnew .section-box i {
		color: #fff;
		border-right: 1px solid #454545;
		font-size: 21px;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-right: 8px;
		margin-right: 8px;
	}
	
	.menu-sepbox {
		width: 100%;
		padding: 27px 20px 31px 20px;
	}

}
	
@media (max-width: 999px) {
	#navbar-collapse-1 > ul > li {
        border-bottom: 0;
    }
	
    .navbar-collapse.pull-right {
        width: 100%;
        /*float: none !important;*/
        background: #1e1e1e;
    }
    #navbar-collapse-1 > ul > li.dropdown > a > b {
        float: right;
    }
    .navbar-default .navbar-brand {
        margin-left: 14px;
    }
    #navbar-collapse-1 > ul > li {
        border-bottom: 1px solid #eee;
    }
    #navbar-collapse-1 > ul > li.open {
        background-color: #2b2b2b;
        
    }
    .help 
    {
        display: none;
    }
    .navbar-nav>li>a
    {
        color: #b3b3b3;
        padding: 14px 15px;
    }
     .navbar-nav>li>a:hover
    {
        color: #fff ;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #92d102;
        background-color: transparent;
         padding: 10px 20px;
        border-bottom: 0px ;
       
    }
   
    .dropdown-menu>li>a {
        padding: 8px 20px !important;;
        border-bottom: 0px ;
    }
    
    .dropdown-submenu>.dropdown-menu:last-child {
        border-top: 0px ;
    }
	
	.list-unstyled a {
	    color: #BBBBBB;
	}
	
	.list-unstyled li:first-child {
	    border-bottom: 1px solid #3b3b3b;
	    margin-bottom: 16px;
	}
	
	.list-unstyled li p {
	    color: #fff;
		padding-top:10px;
	}
	
	.list-unstyled .img_left4 {
		margin-right: 20px;
	}

}

@media only screen and (max-width:1199px) {
	
	.container > .navbar-collapse {
	    z-index: 9999;
	}
	
	.navbar-default.two { margin-right: 200px;}
	
	.navbar-default {
	    margin-right: 0px;
	}

}
	
@media only screen and (max-width:1112px) {

	.container > .navbar-collapse {
	    z-index: 9999;
	}
	
	.navbar-default.two { margin-right: 227px;}

}	
	
@media (min-width: 1000px) {
    .yamm ul.nav li.dropdown > ul.dropdown-menu {

	}
    
    .dropdown-submenu:hover>.dropdown-menu
    {
		-webkit-animation-duration: 0.5s;
		-webkit-animation-name: fadeInFromNone;
		-webkit-animation-fill-mode: forwards;
		
		animation-duration: 0.5s;
		animation-name: fadeInFromNone;
		animation-fill-mode: forwards;
		
		-ms-animation-duration: 0.5s;
		-ms-animation-name: fadeInFromNoneIE;
		-ms-animation-fill-mode: forwards;   
    }
    
	.yamm ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block; 
	    
	     /*-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;*/
	    
	    animation-duration: 0.5s;
	    animation-name: fadeInFromNone;
	    animation-fill-mode: forwards;
	    -webkit-animation-duration: 0.5s;
	    -webkit-animation-name: fadeInFromNone;
	     -webkit-animation-fill-mode: forwards;
	    
	    -ms-animation-duration: 5s;
	    -ms-animation-name: fadeInFromNoneIE;
	     -ms-animation-fill-mode: forwards;
	    
	}   
	@-webkit-keyframes fadeInFromNone {
	    0% {
	        opacity: 0;
	    }
	    1% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1;
	    }
	}
	@keyframes fadeInFromNoneIE {
	    0% {
	        opacity: 0;
	    }
	    1% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1;
	    }
	}
	@keyframes fadeInFromNone {
	    0% {
	        opacity: 0;
	    }
	    1% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1;
	    }
	}
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	    padding: 22px 18px;
	}
}	
	
@media only screen and (min-width: 99px) and (max-width: 999px){

	.navbar-default .navbar-nav>li>a {
		color: #999;
	}

	ul.dropdown-menu li a {color: #fff; }
	
	ul.dropdown-menu li a:hover {color: #333; border-bottom: none; }
	
	li.dropdown a:hover {color: #fff; }
	
	ul.dropdown-menu .yamm-content li a:hover {color: #999; }
}
	
@media only screen and (max-width:991px) {

	.menu_main2 .container > .navbar-collapse {
	    width:100%;
		background-color:#161616;
	}	

}	
	
@media only screen and (max-width:800px) {

	.navbar-default.two {
	    margin-right: 0px;
	}


}

@media (max-width:767px){
	
    .list-unstyled li:first-child {
    
    border-bottom: 0px ;
    margin-bottom: 0px;
    top-bottom: 15px;
        
    }
    .list-unstyled li p {
        color: #bbb;
    }
    .list-unstyled li { padding: 8px 0;}
    .list-unstyled a {
        color: #bbb;

    }
	.list-unstyled a {
	    color: #BBBBBB;
	}


	.list-unstyled a {
	    color: #BBBBBB;
	}

    .list-unstyled a:hover {
        color: #fff;
    }
    
    .yamm .yamm-content .thumbnail {
        background-color: transparent;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
    }
    .yamm .yamm-content .caption p {
        color: #ccc;
    }
    .yamm .yamm-content .caption h3 {
        color: #ccc;
    }
    .yamm .yamm-content .thumbnail>img {
        margin-left: 0;
    }
    .row-border {
        border-bottom:0;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px){

	.header{top:77px;}
	
	.compact .header #logo{ background-position: left 10px;}
	
	.compact .header{padding-top: 0px; padding-bottom: 5px;}
	
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	
	.yamm .yamm-content {
	    padding: 10px 20px 20px 20px;
	}
	
	
	.mega-menu-contnew .section-box {
		width: 95%;
		margin-left: 2.5%;
		margin-bottom: 40px;
	}
	.mega-menu-contnew .section-box strong {
		color: #fff;
	}
	.mega-menu-contnew .section-box span,
	.mega-menu-contnew .section-box i {
		color: #fff;
		border-right: 1px solid #454545;
	}
	
	.menu-sepbox {
		width: 100%;
		padding: 27px 20px 31px 20px;
	}




}

@media only screen and (min-width: 480px) and (max-width: 639px){
	
	.header{top:77px;}
	
	body .menu_main {
		position: absolute;
		width: 440px;
		margin-left: -220px;
		left: 50%;
	}
	.menu_main .navbar-toggle{
		margin-right: 0;
	}
	
	.compact .header #logo{ background-position: left 10px;}
	
	.compact .header{padding-top: 0px; padding-bottom: 5px;}
	
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	
	.yamm .yamm-content {
	    padding: 10px 20px 20px 20px;
	}
	
	
	
	.mega-menu-contnew .section-box {
		width: 95%;
		margin-left: 2.5%;
		margin-bottom: 40px;
	}
	.mega-menu-contnew .section-box strong {
		color: #fff;
	}
	.mega-menu-contnew .section-box span,
	.mega-menu-contnew .section-box i {
		color: #fff;
		border-right: 1px solid #454545;
	}
	
	.menu-sepbox {
		width: 100%;
		padding: 27px 20px 31px 20px;
	}
	


}

@media only screen and (max-width: 479px){

	.menu_main {
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 10;
	}
	.menu_main .navbar-toggle{
		margin-right: 0;
	}

	.header{top:77px;}
	
	.compact .header #logo{ background-position: left 10px;}
	
	.compact .header{padding-top: 0px; padding-bottom: 5px;}
	
	.menu_main .col-md-3 {
		width: 100%;
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	.menu_main .col-md-3.last {
		border-right: 0px solid #eee;
		margin-right: 0%;
	}
	
	.yamm .yamm-content {
	    padding: 10px 20px 20px 20px;
	}
	
	
	
	.mega-menu-contnew .section-box {
		width: 95%;
		margin-left: 3%;
		margin-bottom: 40px;
	}
	.mega-menu-contnew .section-box strong {
		color: #fff;
	}
	.mega-menu-contnew .section-box span,
	.mega-menu-contnew .section-box i {
		color: #fff;
		border-right: 1px solid #454545;
	}
	
	.menu-sepbox {
		width: 100%;
		padding: 27px 20px 31px 20px;
	}

	body #logo img {
		max-height: 30px;
	}


}


	
