/***********************************************************
	King Theme Re-style
	Common WHMpress Css
***********************************************************/
.whmpress *, .whmpress *:before, .whmpress *:after {
  box-sizing: border-box;
}
.whmpress {
	margin: 0 auto 1.5em;
	font-family: inherit;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 8px 0px;
	box-sizing: border-box;
	color: rgb(102, 102, 102);
	display: block;
	text-decoration: none;
	width: 100%;
}
.whmpress  input {
  border: 2px solid rgb(230, 230, 230);
  cursor: auto;
  border-radius: 5px;
  background: #ffffff;
  font-size: 16px;
  height: 42px;
  margin: 2px 0;
  padding: 8px;
}
.whmpress button,
.whmpress a.whmpress-btn,
.whmpress a.buy-button,
.whmpress a.www-button,
.whmpress a.whois-button,
.whmpress input[type="submit"] {
	background: #86c724 none repeat scroll 0 0;
	padding:10px 20px;
	color:#FFFFFF;
	display: inline-block;
	text-decoration:none;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	height: 42px;
	padding: 10px 15px;
	text-align: center;
	vertical-align: middle;
}

.whmpress a.www-button,
.whmpress a.whois-button {
  padding: 5px 10px;
  height: auto;
}
.whmpress button:hover,
.whmpress a.whmpress-btn:hover,
.whmpress a.buy-button:hover,
.whmpress a.www-button:hover,
.whmpress a.whois-button:hover,
.whmpress input[type="submit"]:hover {
	background-color: #5F686F;
	color: #FFFFFF;
}
.whmpress input[type="text"]:focus,
.whmpress input[type="search"]:focus,
.whmpress select:focus {
	outline: none !important;
	background: #ffffff !important;
}
.whmpress a {
}
.whmpress a:hover {
}
.whmpress select {
  display: inline-block;
  border: 2px solid rgb(230, 230, 230);
  background: #ffffff;
  border-radius: 5px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  height: 42px;
  max-width: 100%;
  vertical-align: top;
  appearance:menulist;
  -moz-appearance:menulist; /* Firefox */
  -webkit-appearance:menulist; /* Safari and Chrome */
}

/***********************************************************
	.whmpress_price Css
***********************************************************/
.whmpress_price {
  border: none;
  display: inline;
  font-size: 32px;
  font-weight: 400;
  height: auto;
  line-height: 47px;
  margin-bottom: 64.5px;
  text-align: left;
  word-wrap: break-word;
}
.whmpress_price sub {
}

/***********************************************************
	.whmpress_order_button Css
***********************************************************/
.whmpress_order_button {
  background: rgba(251,68,0,1.0);
  background-image: none;
  color: white;
  width: auto;
  min-width: 150px;
}
.whmpress_order_button:hover {
  background: rgba(251,88,20,1.0);
}

/***********************************************************
	.whmpress_order_combo Css
***********************************************************/
.whmpress_order_combo {
  background: #ffffff;
}
.whmpress_order_combo select {
  background: #ffffff;
}
.whmpress_order_combo {
  background: #ffffff;
  border: none;
}
.whmpress_order_combo button {
}
.whmpress_order_combo button:hover {
}

/***********************************************************
	.whmpress_price_table Css
***********************************************************/
.whmpress_price_table {
  box-shadow: 0 0 0 1px rgb(200, 200, 200), 0 0 0 5px rgb(230, 230, 230);
  display: block;
  font-size: 16px;
  line-height: 24px;
  max-width: 300px;
  float: left;
  text-align: center;
  margin: 0 10px 30px 0;
  padding: 20px 0 10px;
}
.whmpress_price_table h3 {
  text-align: center;
  font-weight: bold;
}
.whmpress_price_table ul {
  width: 100%;
  padding: 15px;
  margin: 10px 0 0;
  list-style: none;
  border-top: 1px solid rgb(230, 230, 230);
  
}
.whmpress_price_table ul li {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.whmpress_price_table ul li:last-child {
  border-bottom: none;
}
.whmpress_price_table h4 {
  width: 100%;
  border-top: 1px solid rgb(230, 230, 230);
  margin: 0;
  padding: 20px 0 10px;
}
.whmpress_price_table .whmpress_order_combo {
  width: 100%;
  border-top: 1px solid rgb(230, 230, 230);
  border-radius: 0;
  margin: 0 0 20px;
  padding: 20px 0 10px;
}
.whmpress_price_table .whmpress_order_button {
  border-top: 1px solid rgb(230, 230, 230);
}
.whmpress_price_table button {
  width: 90%;
}
.whmpress_price_table button:hover {
  background: rgb(251,88,20) ;
}

/***********************************************************
	.whmpress_price_box Css
***********************************************************/
.whmpress_price_box {
	box-shadow: 0 0 0 1px rgb(200, 200, 200), 0 0 0 5px rgb(230, 230, 230);
	float: left;
	border: none;
	margin: 0;
	padding: 20px 0;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 24px;
}
.whmpress_price_box .style1_wrapper {
	text-align: center;
}
.whmpress_price_box h3 {
	font-weight: bold;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(230, 230, 230);
}
.whmpress_price_box .whmpress_order_combo {
  margin: 0;
  padding: 10px;
  border-radius: 0;
}

.whmpress_price_box h2{
  border-bottom: 1px solid rgb(230, 230, 230);
  margin: 0;
  padding: 0 0 10px;
}
.whmpress_price_box  ul {
	margin: 0;
	text-align: left;
}
.whmpress_price_box  li {
  padding: 0 0 5px;
}
.whmpress_price_box .whmpress_price {
  color: rgba(251,68,0,1.0);
}
.whmpress_price_box .whmpress_price sub {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}
.whmpress_price_box button {
	margin: 20px 0 0;
	width: auto;
	text-transform: uppercase;
}

.host_plans .style1_left ul li {
	border-bottom: 1px solid #f3f3f3;
	color: #2a363f;
	float: left;
	padding: 9px 0;
	width: 100%;
	text-align: center;
}

@media only screen and (max-width: 690px) {
  .style1_wrapper {
    text-align: center !important;
  }
  .whmpress_price_box .style1_wrapper .style1_left,
  .whmpress_price_box .style1_wrapper .style1_right  {
    float: none !important;
	display: block;
	width: 90%;
	margin: 0 auto 20px;
	text-align: center;
  }
}

/***********************************************************
	.whmpress_order_link Css
***********************************************************/
.whmpress_order_link {
  border: none;
  color: rgba(251,68,0,1.0);
  display: inline;
  line-height: 24px;
  font-size: 18px;
}
.whmpress_order_link:hover{
  text-decoration: none;
  color: #000000;
}


/***********************************************************
Responsive Table Styling
***********************************************************/
.whmpress_price_matrix table { 
	width: 100%; 
	border-collapse: collapse;
	margin: 20px 0 0;
	box-shadow: none;
	border: none;
	background: none;
}
.whmpress_price_matrix thead,
.whmpress_price_matrix tbody {
    background: none;
	background-image: none;
	box-shadow: none;
	border: none;
}
.whmpress_price_matrix tr:hover td {
    background: none;
	color: rgb(102,102,102);
}
.whmpress_price_matrix th {
	font-weight: bold;
	border: none;
	border-top: 2px solid rgb(230, 230, 230);
	border-bottom: 2px solid rgb(230, 230, 230);
	padding: 20px 5px; 
	box-shadow: none;
	background: none;
  text-align: left;
}
.whmpress_price_matrix td {
	padding: 10px 5px;
	border: none;
	border-bottom: 1px solid rgb(230, 230, 230);
	text-align: left; 
	box-shadow: none;
	background: none;
}


.whmpress_price_matrix td span.extra-text {
  line-height: 1;
  margin-left: 5px;
  color: white;
  padding: 2px 5px;
  font-size: 70%;
  text-transform: uppercase;
}
.whmpress_price_matrix td span.extra-text.special {
  background: green;
}
.whmpress_price_matrix td span.extra-text.new {
  background: blue;
}
.whmpress_price_matrix tr.highlighted-row {
  background: rgba(198,203,15,0.4);
}
.whmpress_price_matrix td span.old-price {
  display: block;
  text-decoration: line-through;
  color: red;
  padding: 2px 5px;
}
.whmpress_price_matrix td span.old-price-text {
  color: #666;
}


@media 
only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.whmpress_price_matrix table,
	.whmpress_price_matrix thead,
	.whmpress_price_matrix tbody, 
	.whmpress_price_matrix th, 
	.whmpress_price_matrix td, 
	.whmpress_price_matrix tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.whmpress_price_matrix thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.whmpress_price_matrix tr { border: 1px solid rgb(230, 230, 230); }
	
	.whmpress_price_matrix td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid rgb(230, 230, 230);
		position: relative;
		padding-left: 50%; 
	}
	
	.whmpress_price_matrix td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.whmpress_price_matrix td:before { content: attr(data-content)": "; }
/*	.whmpress_price_matrix td:nth-of-type(2):before { content: "ID"; }
	.whmpress_price_matrix td:nth-of-type(3):before { content: "Name"; }
	.whmpress_price_matrix td:nth-of-type(4):before { content: "Group"; }
	.whmpress_price_matrix td:nth-of-type(5):before { content: "Monthly"; }
	.whmpress_price_matrix td:nth-of-type(6):before { content: "2 Months"; }
	.whmpress_price_matrix td:nth-of-type(7):before { content: "3 Months"; }
	.whmpress_price_matrix td:nth-of-type(8):before { content: "Yearly"; }
	.whmpress_price_matrix td:nth-of-type(9):before { content: "2 Years"; }
	.whmpress_price_matrix td:nth-of-type(10):before { content: "3 Years"; }*/
	
	/* Zebra striping */
	.whmpress_price_matrix tr:nth-of-type(odd) { 
		background: #e1e1e1;
	}
}

/***********************************************************
	.whmpress_domain_search_ajax Css
***********************************************************/
.domain_search .whmpress_domain_search_ajax {
	color: #FFFFFF;
}
.whmpress_domain_search_ajax form {
	height:73px;
	width: 100%;
	margin:0 0 20px;
	padding:5px 0;
	overflow: hidden;
}
.whmpress_domain_search_ajax form input {
	border-right: none;
	display:inline-block;
	float: left;
	height: 56px;
	margin:0;
	padding:0 20px;
	width:80%;
}
.whmpress_domain_search_ajax  form button {
	height: 56px;
	width:19%;
	min-width: 120px;
	margin:0 0 0 -4px;
	float: right;
}




/***********************************************************
	.result-div Css
***********************************************************/

.whmpress .found-title,
.whmpress .not-found-title,
.whmpress .found-div,
.whmpress .not-found-div,
.whmpress .recommended,
.whmpress .result-div {
  width:100%
}
.whmpress .recommended {
  margin: 0 0 30px;
}
.whmpress .found-title,
.whmpress .not-found-title {
	border: 1px solid rgb(230, 230, 230);
	border-radius:5px;
	padding:20px 10px 30px;
	margin:0 0 30px;
}
.whmpress .found-title span,
.whmpress .found-title .domain-name,
.whmpress .found-title .rate,
.whmpress .found-title .year,
.whmpress .found-title .select-box,
.whmpress .not-found-title span,
.whmpress .not-found-title .domain-name,
.whmpress .not-found-title .rate,
.whmpress .not-found-title .year,
.whmpress .not-found-title .select-box,
.whmpress .found-div span,
.whmpress .found-div .domain-name,
.whmpress .found-div .rate,
.whmpress .found-div .year,
.whmpress .found-div .select-box,
.whmpress .not-found-div span,
.whmpress .not-found-div .domain-name,
.whmpress .not-found-div .rate,
.whmpress .not-found-div .year,
.whmpress .not-found-div .select-box {
  float:left;
  display: inline-block;
}
.whmpress .found-title span,
.whmpress .not-found-title span {
  background: rgba(251,68,0,1.0);
  font-size: 20px;
  margin: 6px 0 0;
  line-height: 40px;
  color:white;
  width: 40px;
  height: 40px;
  text-align: center;
}
.whmpress .found-title span i,
.whmpress .not-found-title span i {
}
.whmpress .found-title .domain-name,
.whmpress .not-found-title .domain-name,
.whmpress .found-div .domain-name,
.whmpress .not-found-div .domain-name {
  width: 40%;
  margin: 12px 0 0 5px;
  font-size: 18px;
}
.whmpress .found-title .rate,
.whmpress .not-found-title .rate,
.whmpress .found-div .rate,
.whmpress .not-found-div .rate {
  width: 15%;
  margin: 12px 0 0 5px;
  text-align: center;
  font-size: 16px;
}
.whmpress .found-title .year,
.whmpress .not-found-title .year,
.whmpress .found-div .year,
.whmpress .not-found-div .year {
  width: 10%;
  margin: 12px 0 0 5px;
  text-align: center;
  font-size: 16px;
}
.whmpress .found-title .select-box,
.whmpress .not-found-title .select-box,
.whmpress .found-div .select-box,
.whmpress .not-found-div .select-box {
  width: 25%;
  float: right;
  margin: 2px 0 0;
  text-align: center;
}

.whmpress .result-div {
	border: 1px solid #999;
	padding: 0;
	margin: 30px 0;
	border-radius: 5px;
}
.whmpress .found-div,
.whmpress .not-found-div {
	border: none;
	border-bottom: 1px solid #999;
	padding: 10px 10px 20px;
	margin: 0;
}

.whmpress .found-div .domain-name{
	color: #86C724;
}

.whmpress .load-more-div {
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .whmpress_domain_search_ajax form {
    height: auto;
  }
  .whmpress_domain_search_ajax form,
  .whmpress_domain_search_ajax form input,
  .whmpress_domain_search_ajax form button {
    display: block;
  }
  .whmpress_domain_search_ajax form input,
  .whmpress_domain_search_ajax form button {
    width: 100%;
    border-radius: 5px;
    margin: 0 auto 10px;
  }
  .whmpress_domain_search_ajax form input {
    border: 2px solid rgb(230,230,230);
  }
  .whmpress   .found-title,
  .whmpress   .not-found-title,
  .whmpress   .result-div .found-div,
  .whmpress   .result-div .not-found-div  {
    text-align: center;
  }
  .whmpress   .found-title > div,
  .whmpress   .not-found-title > div,
  .whmpress   .result-div .found-div > div,
  .whmpress   .result-div .not-found-div > div {
    float:none !important;
    width: 100% !important;
    display: block;
    line-height: 40px !important;
    margin: 0 auto 10px;
  }
  .whmpress .not-found-title > .rate,
  .whmpress .not-found-title > .year,
  .whmpress .result-div .not-found-div > .rate,
  .whmpress .result-div .not-found-div > .year {
    display: none !important;
  }
  .whmpress .found-title,
  .whmpress .not-found-title,
  .whmpress .result-div .found-div,
  .whmpress .result-div .not-found-div {
    height: auto;
    padding: 5px;
  }
}

.whmpress .result-div .found-div:last-child {
  border:none
}

/***********************************************************
	.whmpress_domain_search Css
***********************************************************/
.whmpress_domain_search {
}
.whmpress_domain_search form {
  width: 95%;
  display: flex;
}
.whmpress_domain_search form div:nth-child(1) {
  width: 60%;
  margin: 0 5px 0 0;
}
.whmpress_domain_search form div:nth-child(2) {
  width: 15%;
  margin: 0 5px 0 0;
  min-width: 100px;
}
.whmpress_domain_search form div:last-child {
  width: 15%;
  margin: 0 5px 0 0;
  min-width: 130px;
}
.whmpress_domain_search form input,
.whmpress_domain_search form select {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .whmpress_domain_search form {
    width: 95%;
    margin: 0 auto 30px;
    display: block;
  }
  .whmpress_domain_search form div {
    width: 100% !important;
    display: block;
  }
}

/***********************************************************
	.whmpress_domain_whois Css
***********************************************************/
.whmpress_domain_whois {
}
.whmpress_domain_whois form {
  width: 95%;
  display: flex;
  margin: 0 0 50px;
}
.whmpress_domain_whois form input {
  width: 80%;
  margin: 0 5px 0 0;
}
.whmpress_domain_whois form button {
  width: 15%;
  margin: 0 5px 0 0;
  min-width: 180px;
}
.whmpress_whois_results {
  background: #e1e1e1;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px 10px;
}
@media only screen and (max-width: 480px) {
  .whmpress_domain_whois form {
    width: 95%;
    margin: 0 auto 30px;
    display: block;
  }
  .whmpress_domain_whois form input,
  .whmpress_domain_whois form button {
    width: 100% !important;
    display: block;
  }
}

/***********************************************************
	.whmpress_domain_search_bulk Css
***********************************************************/
.whmpress_domain_search_bulk {
	width: 100%;
	border: 0;
	border-radius: 5px;
}
.whmpress_domain_search_bulk form .bulk-domains,
.whmpress_domain_search_bulk form .bulk-options {
	width: 48%;
	float: left;
}
.whmpress_domain_search_bulk form .bulk-options {
	float: right;
}
.whmpress_domain_search_bulk form .bulk-domains textarea {
	border: 1px solid #dadada;
    border-radius: 5px;
    height: 200px;
    padding: 5px 10px;
    width: 100%;
}
.whmpress_domain_search_bulk form .bulk-options .extentions {
	margin: 20px auto;
	display: block;
	text-align: left;
}
.whmpress_domain_search_bulk form .bulk-options .extention-selection{
	margin-top: 0;
	text-align: left;
}
.whmpress_domain_search_bulk form .bulk-options .extention-selection label input{
	float: left;
}
.whmpress_domain_search_bulk form .bulk-options .extentions div {
  width: 33%;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;
}
.whmpress_domain_search_bulk .extentions label,
.whmpress_domain_search_bulk .extentions input[type="checkbox"]{
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.whmpress_domain_search_bulk .extentions input[type="checkbox"] {
  height: 20px;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.whmpress_domain_search_bulk form .search-button {
  width: 100%;
  text-align: left;
  margin: 10px 0 0;
}
.whmpress_domain_search_bulk form .search-button button {
  width: 150px;
  display: inline-block;
  margin: 10px auto;
}
.whmpress_domain_search_bulk form .search-button button:hover {
}
.whmpress_domain_search_bulk .extention-selection label,
.whmpress_domain_search_bulk .extention-selection input[type="radio"] {
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.whmpress_domain_search_bulk .extention-selection input[type="radio"] {
  height: 32px;
  margin: 0 5px 0 0;
}
@media only screen and (max-width: 768px) {

	.whmpress_domain_search_bulk form .bulk-domains,
	.whmpress_domain_search_bulk form .bulk-options {
	  width: 100%;
	  float: none;
	  padding: 10px;
	}
	.whmpress_domain_search_bulk form .bulk-options .extentions div {
	  width: 50%;
	  display: inline-block;
	  float: left;
	}
}




/***********************************************************
	.whmpress_domain_search_tabs Css
***********************************************************/

.whmpress_domain_search_tabs ul.tabs{
  margin: 0;
  padding: 0;
  list-style: none;
}
.whmpress_domain_search_tabs ul.tabs li{
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  color: white;
  margin: 0 0 0 1%;
  width: 18.5%;
  min-width: 150px;
  background: rgb(120,120,120);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.whmpress_domain_search_tabs ul.tabs li:hover {
  background: rgb(140,140,140);
}
ul.tabs li.current{
  background: rgb(180,180,180);
  color: #222;
}

.whmpress_domain_search_tabs .tab-content{
  display: none;
}

.whmpress_domain_search_tabs .tab-content.current{
  display: inherit;
}
@media only screen
and (max-width: 1030px) {
 .whmpress_domain_search_tabs ul.tabs li{
    margin-bottom: 10px;
  }
}


/***********************************************************
	.whmpress_login_form Css
***********************************************************/

.whmpress_login_form {
  text-align: center;
}
.whmpress_login_form form div {
  margin-bottom: 20px;
}
.whmpress_login_form form div label{
  display: inline-block;
  width: 20%;
  min-width: 160px;
  text-align: left;
}
.whmpress_login_form form div input {
  display: inline-block;
  width: 60%;
  min-width: 200px;
  background: #fff;
  text-align: left;
}
.whmpress_login_form form button {
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  
  .whmpress_login_form form div label,
  .whmpress_login_form form div input {
    display: block;
    width: 100%;
    min-width: 160px;
  }
  .whmpress_login_form form button {
    display: block;
    width: 100%;
  }
}


/***********************************************************
	.whmpress_announcements Css
***********************************************************/
.whmpress_announcements {
	padding: 100px 0;
}

.whmpress_announcements_wrap {
    overflow: hidden;
    clear: both;
}

.whmpress_announcements h1{
	text-align: center;
}

.whmpress_announcements_wrap .whmpress_announcement{
	float: left;
}

.whmpress_announcement.one_half:nth-child(2n){
	margin-right: 0;
}

.whmpress_announcement .announcement-date {
	background: #86c724 none repeat scroll 0 0;
	display: inline-block;
	width: 120px;
	padding: 3px 10px;
	margin-right: 15px;
	color: white;
	border-radius: 5px;
}
.whmpress_announcement .announcement-summary {
  margin-top: 15px;
}




.whmpress_price_matrix_domain > label{
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
.whmpress_price_matrix_domain > label + input{
	float: left;
	width: auto!important;
}

.whmpress_price_matrix_domain table{
	clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;
	border: 1px solid #999;
    border-radius: 5px;
}

.whmpress_price_matrix_domain table td, .whmpress_price_matrix_domain table th{
	padding: 10px;
	text-align: center;
	border-right: 1px solid #999;
}
.whmpress_price_matrix_domain table td{
	border-top: 1px solid #999;
	font-size: 16px;
}
.whmpress_price_matrix_domain table td:first-child{
	font-weight: bold;
}

.style1_wrapper .style1_right{
	width: 100%;
}
.style1_wrapper .style1_right h2{
	background: #dadada none repeat scroll 0 0;
    font-size: 16px;
    padding: 15px 0;
}


.whmpress_pricing_table{
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	float: left;
	width: 100%;
}

.whmpress_pricing_table > h3{
	float: left;
    padding: 20px 0 10px;
    width: 100%;
}

.whmpress_pricing_table ul{
	float: left;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
}

.whmpress_pricing_table ul li {
    border-bottom: 1px solid #f3f3f3;
    color: #2a363f;
    float: left;
    padding: 9px 0;
    width: 100%;
}

.whmpress_pricing_table .prices{
	background: #5f686f;
	display: inline-block;
	margin-bottom: 35px;
	position: relative;
	width: 100%;
	padding: 27px 0px 23px 0px;
	color: #fff;
}


.whmpress_pricing_table .prices:before{
	border-top: 15px solid #5f686f;
	border-left: 136px solid transparent;
	border-right: 136px solid transparent;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	bottom: -15px;
	width: 0;
}

.whmpress_pricing_table .prices .whmpress_price{
	clear: both;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
	font-weight: bold;
}

.page_title1.sty7 .whmpress_domain_search_ajax form input{
	width: 79%;
}

.page_title1.sty7 .whmpress_domain_search_ajax .search_btn{
	background-color: #2a363f;
	border: 0 none;
	border-radius: 3px;
	color: #fff;
	float: left;
	font-family: "Roboto",sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-left: 12px;
	padding: 20px 30px 21px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;	
}
.page_title1.sty7 .whmpress_domain_search_ajax .search_btn:hover{
	background-color: #fff;
    color: #2a363f;
    cursor: pointer;
}

.page_title1.sty7 .whmpress_domain_search_ajax .not-found-div, .page_title1.sty7 .whmpress_domain_search_ajax .found-div, .page_title1.sty7 .whmpress .recommended{
	color: #FFF;
}
.page_title1.sty7 .whmpress .found-div .domain-name {
    color: #fff;
}
.page_title1.sty7 .whmpress .result-div{
	border: 1px solid #FFF;
}
.page_title1.sty7 .whmpress .found-div, .page_title1.sty7 .whmpress .not-found-div{
	border-bottom: 1px solid #fff;
}

.page_title1.sty7 .whmpress_domain_search_ajax .domain-name{
	color: #FFF;
}

.page_title1.sty7 .www-button, .page_title1.sty7 .whois-button, .page_title1.sty7 .buy-button, .page_title1.sty7 .load-more-div button{
	background: #fff none repeat scroll 0 0;
    color: #86c724;
    font-size: 14px;
}
.page_title1.sty7 .load-more-div button:hover{
	background: #5f686f none repeat scroll 0 0;
    color: #FFFFFF;
}